.tag1 {
  transition: background-color 1s, border-radius 1s;
  background-color: dodgerblue;
  padding: 4px;
  margin-top: 0px;
  min-height: 40px;
  min-width: 40px;
  font-weight: bold;
}

.tag2 {
  border-radius: 50% / 20%;
  background-color: tomato;
}

@keyframes forkAnimation {
  from { -gtk-icon-transform: rotate(45deg); }
  to { -gtk-icon-transform: rotate(90deg); }
}

.fork {
  animation: forkAnimation calc(attr(width) * 1s) infinite alternate ease-in-out;
}